Source: plasma-hud
Section: admin
Priority: optional
Maintainer: Johan Källström <joka90@gmail.com>
Uploaders: Johan Källström <joka90@gmail.com>,
Build-Depends: debhelper-compat (= 10)
Standards-Version: 4.6.0
Homepage: https://github.com/Zren/plasma-hud/
Vcs-Browser: https://github.com/Zren/plasma-hud/
Vcs-Git: https://github.com/Zren/plasma-hud.git
Rules-Requires-Root: no

Package: plasma-hud
Architecture: all
Depends: rofi, python3, python3-dbus, python3-setproctitle, python3-xlib, gir1.2-gtk-3.0
Recommends: appmenu-gtk2-module, appmenu-gtk3-module
Description: Provides a way to run menubar commands through rofi,
 much like the Unity 7 Heads-Up Display (HUD).
 plasma-hud was forked from mate-hud which was based on i3-hud-menu.
